*{
    margin: 0px;
    padding: 0px;
}
.container{
    text-align: center;
    margin-top: 23px;
    height: 800px;
    width: 500px;
    box-sizing: border-box;
}
body{
    background-color: rsnow;
}
table{
    margin: auto;
}
input{
    font-size: 2.125em;
    border: 2px solid rgb(129, 106, 62);
    margin-bottom: 23px;
    height: 130px;
    /* height: 100%; */
    width: 97%;
    border-radius:21px;
    text-align: right;
    padding: 15px;
}
table{
    width: 100%;
}

td{
    width: 25%;
}
button{
    font-size: 2.5em;
    /* background-color: rgb(129, 106, 62); */
    /* background-color: rgb(200,232,255); */
    background-color: rgb(248, 211, 217);
    /* width: 6.25rem; */
    width: 90%;
    /* width: 13.5vw; */
    /* width: 100%; */
    height: 5rem;
    /* height: 10vh; */
    border-radius: 20px;
    /* border-radius: 50%; */
    border: none;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    display: inline-block;
    padding: 23px;
    /* background-color: rgb(208, 228, 243); */
    background-color: rgb(247, 236, 223);
    border-radius: 53px;
    border: 3px solid black;
    box-shadow: 20px 20px 20px rgb(1,1,1,0.7);
}
button:hover{
    /* background-color: silver; */
    font-weight: bolder;
    transform: scale(1.2);
}
h1{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 6.5px;
}
@media screen and (max-width: 550px){
    
   .container{
       width: 100vw;
       height: 80vh;
   }
   .calculator{
       width: 100%;
       padding-left: 5px;
       padding-right: 5px;
       box-shadow: 0 0 0;
       /* height: 100%; */
       /* height: 80vh; */
   }
   h1{
       display: none;
   }
  
}
/* @media screen and (max-height: 550px){
    
    .container{
        width: 95vw;
        height: 100vh;
    }
    
 } */
